.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
    opacity: 1;
}

.filters button:hover {
    opacity: 90%;
}

.location, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 50px;
}

.location {
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
    margin: 12px 0 5px 0;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 0;
}

.popover {
    display: none;
    position: relative;
    left: -51px;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    z-index: 1;
    padding: 30px 50px 30px 0;
    margin-top: 17px;
}

.popover, .popover ul {
    list-style-type: none;
}
.location:hover > .popover {
    display: block;
}

.amenities:hover > .popover {
    display: block;
}

.popover h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.location > .popover > li {
    margin-bottom: 30px;
    margin-left: 30px;
}
.location > .popover > li > ul {
    padding-left: 20px;
}
.location > .popover > li > ul > li {
    margin-bottom: 10px;
}

.amenities > .popover > li {
    margin-left: 50px;
    margin-bottom: 10px;
}
